@import "./RootVariables.css";

.popup-border-wrapper {
  background-image: linear-gradient(to top right, #75553c, #ceaa4f);
  padding: 5px;
  border-radius: 7px;
}

.centered-popup {
  padding: 10px;
  border-radius: 7px;
  background-color: black;
  color: white;
  height: 500px;
  width: 500px;
}
