.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game.blur {
  filter: blur(4px);
  pointer-events: none;
}

.scoreboard {
  flex: 1;
}

.scoreboard {
  color: white;
  text-align: right;
  padding: 10px;
  font-size: 1.2rem;
}

.cat-display {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.card {
  background-image: linear-gradient(
    to top right,
    var(--dark-brown),
    var(--light-brown)
  );
  padding: 5px;
  border-radius: 7px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 1100px) {
  .card img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 850px) {
  .cat-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}